#app {
  width: 100%;
}

body {
  flex-direction: column;
}


.wrapper {
  width: 1110px;
}










header {
  background-color: #fff; 
  height: 80px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0 20px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); 
}

nav {
  display: flex; 
  height: 100%; 
  align-items: center; 
}

a {
  text-decoration: none; 
  color: #333;
  margin: 0 10px; 
  font-size: 18px; 
  font-weight: 500; 
}

a:hover {
  color: #000; 
  border-bottom: 2px solid #000;
}
.Kvadrat {
  background-color: #00CA69;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 2cm;
  height: 2cm;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .text {
      text-align: center;
    }

    .text {
      position: absolute;
      top: 40%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 1; 
      color: #fff;

    }
    
    .object {
      position: relative; 
      z-index: 0; 
    }


    .textlogo {
      position: absolute;
      top: 35%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 1; 
      color: #000;
     
    }
    
    .object {
      position: relative; 
      z-index: 0;
    }

  

    .purplekvadrat {
      background-color: rgb(150, 0, 196);
      width: 100%;
      height: 50px;
      border-radius: 20px;
      position: absolute;
      top: 82%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .purpletext {
      position: absolute;
      top: 82%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 1; 
     color: #b5b5b5;
    }
    
    .object {
      position: relative; 
      z-index: 0; 
    }

    .seryeKvadrat1 {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 50px;
      border-radius: 20px;
      position: absolute;
      top: 92%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #bababa;
    }

    .seryetext1 {
      position: absolute;
      top: 91.8%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      z-index: 1;
     color: #777777;
    }
    
    .object {
      position: relative; 
      z-index: 0; 
    }

    .seryeKvadrat2 {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 50px;
      border-radius: 20px;
      position: absolute;
      top: 102%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #bababa;
    }

    .seryetext2 {
      position: absolute;
      top: 101.8%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 1; 
     color: #777777;
    }
    
    .object {
      position: relative; 
      z-index: 0; 
    }

    .seryeKvadrat3 {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 50px;
      border-radius: 20px;
      position: absolute;
      top: 111.8%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #bababa;
    }
    .seryeKvadrat2 {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 50px;
      border-radius: 20px;
      position: absolute;
      top: 102%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #bababa;
    }

    .seryetext {
      position: absolute;
      top: 101.8%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 1; 
     color: #777777;
    }
    
    .object {
      position: relative; 
      z-index: 0; 
    }

    .seryeKvadrat3 {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 50px;
      border-radius: 20px;
      position: absolute;
      top: 113%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #bababa;
    }

    .seryetext3 {
      position: absolute;
      top: 112.8%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 1; 
     color: #777777;
    }
    
    .object {
      position: relative;
      z-index: 0; 
    }
    .container1{
      width: 100%;
    
     margin: 100px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
    }
    .card1 {
      width: 311px;
      height: 182px;
      
display: flex;
margin: 10px;
flex-direction: column;
align-items: center;
padding: 10px 0px;
gap: 10px;
position: relative;
left: -8%;
top: -35px;
background: #333333;
border-radius: 10px;
          }

          
.logo1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 12px;
gap: 10px;
width: 40px;
height: 40px;
background: #FAFAFA;
border-radius: 40px;
flex: none;
order: 0;
flex-grow: 0;
}

.Button {
  width: 254px;
height: 76px;
font-family: 'Exo 2';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
text-align: center;
margin-top: 200px;
color: #FAFAFA;
flex: none;
order: 2;
flex-grow: 0;
}

.Analiz {
  width: 250px;
  height: 19px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  top: 160px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  }

  .cifra {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    top: 20%;
    color: #020000;

  }
.Progres {   
  position: absolute;
  top:125%; 
  left: 4%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
 color: #000000;
}

.object {
  position: relative; 
  z-index: 0; 
}

.CTPATEGIA {
  background-color: #00CA69;
  width: 100%;
  height: 50px;
  border-radius: 0px;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CTPATEGIATEXT {   
  position: absolute;
  top:180%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
 color: #ffffff;
}

.object {
  position: relative; 
  z-index: 0; 
}
.text {
  position: absolute;
width: 1006px;
height: 48px;
left: 52px;
top: 106px;
}





